
.music-container {
  position: absolute;
  width: 1200px;
  height: 60vh;  
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* border: 1px solid red; */
  
}


.swiper {
  width: 100%;
  height: 100%;
  /* position: relative; */
  margin-bottom: 1rem;
  
}

.swiper .swiper-slide {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: url('../assets/images/background.jpg') no-repeat;
  background-size: cover;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr;
}

.music-info {
  border: 1px solid green;
  display: grid;
  grid-template-rows: auto 400px;
  grid-template-columns: 550px auto;
  grid-template-areas: 
  'thumbnail title'
  'thumbnail lyrics';
}

.music-info img {
  width: 440px;
  height: 440px;
  border: 1px solid pink;
  grid-area: thumbnail;
  display: block;
  margin: 0 auto;
  padding: 30px 0;
}

.music-title {
  border: 1px solid yellow;
  grid-area: title;
  margin: 10px 0;
  text-align: center;
  font-size: 1.5rem;

  & strong {
    font-size: 2.5rem;
    font-weight: 550;
  }
}

.music-info .lyrics {
  border: 1px solid aqua;
  grid-area: lyrics;
  text-align: center;
  margin: 20px 0;
  overflow-y: scroll;
  font-size: 1.3rem;
  line-height: 1.5;
}

.navbar {
  border: 1px solid yellowgreen;
}
