



.music-container {
  position: absolute;
  width: 1200px;
  height: 760px;  
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* border: 1px solid red; */
  
}


.swiper {
  width: 100%;
  height: 100%;
  /* position: relative; */
  margin-bottom: 1rem;
  
}

.swiper .swiper-wrapper {
  position: relative;
}

.swiper .swiper-slide {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: url('../assets/images/background.jpg') no-repeat;
  background-size: cover;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr;
}

.music-info {
  /* border: 1px solid green; */
  display: grid;
  grid-template-rows: auto 400px;
  grid-template-columns: 550px auto;
  grid-template-areas: 
  'thumbnail title'
  'thumbnail lyrics';
}

.music-info img {
  width: 440px;
  height: 440px;
  /* border: 1px solid pink; */
  grid-area: thumbnail;
  display: block;
  margin: 0 auto;
  padding: 30px 10px 0 ;

}

.music-title {
  /* border: 1px solid yellow; */
  grid-area: title;
  margin: 10px 0;
  text-align: center;
  font-size: 1.5rem;
  
  & strong {
    font-size: 2.5rem;
    font-weight: 550;
  }
}

.music-info .lyrics {
  /* border: 1px solid aqua; */
  grid-area: lyrics;
  text-align: center;
  margin: 20px 0;
  margin-right: 10px;
  overflow-y: scroll;
  font-size: 1.3rem;
  line-height: 1.5;

  /* box-shadow: 0 0 5px 5px; */
  box-shadow: 2px 2px 3px 3px rgba(95, 95, 219, 0.1);
  filter: drop-shadow(0 0 0.5rem rgba(95, 95, 219));

  &::-webkit-scrollbar {
    width: 12px;
  }
  &::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #7491bb; /* 스크롤바의 색상 */
    
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
  }
}

.navbar {
  /* border: 1px solid yellowgreen; */
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  position: absolute;
  left: 0;
  bottom: 50px;
  z-index: 1;
}

.navbar button {
  border: none;
  background-image: url('../assets/images/navbar.png');
  background-repeat: no-repeat;
  
}

.loop, .shuffle {
  width: 80px;
  height: 80px;
}

.loop {
  background: transparent;
  background-size: 500%;
  background-position: 91.072% 38.974%;

  & .repeat {
    font-size: 1.4rem;
    font-weight: 700;
    display: block;
    width: 100%;
    /* text-align: center; */
    text-indent: .5em;

  }
}

.shuffle {
  background: transparent;
  background-size: 500%;
  background-position: 40.559% 39.449%;
  position: relative;
  /* filter: opacity(0.5) drop-shadow(0 0 0 rgb(0, 255, 85)); */

  & .shuffleOn {
    z-index: 10;
    display: block;
    border: 3px solid greenyellow;
    width: 35%;
    position: absolute;
    bottom: 10px;
    right: 5px;
    font-size: 1.1rem;
    border-radius: 12px;
    line-height: 1;
    font-weight: 800;
    padding: 1px;
    color: rgb(129, 255, 255);
    text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
    justify-content: center;
    align-items: center;
    display: flex;
  }
}

.prev, .next {
  width: 120px;
  height: 120px;
}

.prev {
  background: transparent;
  background-size: 750%;
  background-position: 41.289% 88.844%;
}

.next {
  background: transparent;
  background-size: 750%;
  background-position: 10.756% 88.844%;
}

.play {
  width: 140px;
  height: 140px;
  background: transparent;
  background-size: 700%;
  background-position: 67.041% 11.806%;
  
  &.pause {
    background-size: 900%;
    background-position: 89.114% 12.636%; 
  }
}