



.music-container {
  position: absolute;
  width: 1200px;
  height: 760px;  
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* border: 1px solid red; */
  
}


.swiper {
  width: 100%;
  height: 100%;
  /* position: relative; */
  margin-bottom: 1rem;
  
}

.swiper .swiper-wrapper {
  position: relative;
}

.swiper .swiper-slide {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: url('../assets/images/background.jpg') no-repeat;
  background-size: cover;
  overflow: hidden;

  display: grid;
  grid-template-columns: 550px 1fr;
  grid-template-rows: 150px 400px 1fr;
  grid-template-areas:
    "thumbnail title"
    "thumbnail lyrics"
    ". lyrics";
}

.music-info {
  width: 100%;
  height: 550px;
  /* border: 1px solid green; */
  /* display: grid; */
  /* grid-template-rows: auto 400px;
  grid-template-columns: 550px auto;
  grid-template-areas: 
  'thumbnail title'
  'thumbnail lyrics'; */
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  /* border: 1px solid pink; */
  grid-area: thumbnail;
  /* display: inline-block; */
  /* margin: 0 auto; */
  /* padding: 30px 10px 0 ; */

}

.music-title {
  /* border: 1px solid yellow; */
  grid-area: title;
  width: 100%;
  /* margin: 10px 0; */
  /* margin-right: 50px; */
  text-align: center;
  font-size: 1.5rem;
  /* display: inline-block; */
  
  & strong {
    font-size: 2.5rem;
    font-weight: 550;
  }
}

.lyrics {
  /* border: 1px solid aqua; */
  width: 100%;
  height: 100%;
  grid-area: lyrics;
  text-align: center;
  /* padding: 40px 0; */
  /* margin: 20px 0; */
  /* margin-right: 50px; */
  overflow-y: scroll;
  font-size: 1.4rem;
  line-height: 1.5;

  /* box-shadow: 0 0 5px 5px; */
  box-shadow: 2px 2px 3px 3px rgba(95, 95, 219, 0.1);
  filter: drop-shadow(0 0 0.5rem rgba(95, 95, 219));

  &::-webkit-scrollbar {
    width: 12px;
  }
  &::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #7491bb; /* 스크롤바의 색상 */
    
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
  }
}

.navbar {
  /* border: 1px solid yellowgreen; */
  width: 550px;
  height: 210px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 20px 1fr 1fr;
  align-items: center;
  justify-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  /* grid-template-rows: 1fr auto; */
  grid-template-areas: 
    "audio audio audio audio audio"
    "volume prev play next loop"
    "volume prev play next shuffle";
  /* row-gap: 30px; */
}

.navbar .audio {
  grid-area: audio;
  width: 100%;
  height: 12px;
  
}

.navbar button {
  border: none;
  /* border: 1px solid black;
  border-radius: 100px; */
  /* background-image: url('../assets/images/navbar.png');
  background-repeat: no-repeat; */
  
}

.volume {
  grid-area: volume;
  background: transparent;
  background-image: url('../assets/images/volume.png');
  width: 80px;
  height: 80px;
  background-size: cover;
  background-repeat: no-repeat;
}

.loop, .shuffle {
  width: 50px;
  height: 50px;
}

.loop {
  background: transparent;
  background-image: url('../assets/images/loop.png') ;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: 91.072% 38.974%; */
  grid-area: loop;
  margin-top: 30px;

  & .repeat {
    font-size: 1.1rem;
    line-height: 3;
    font-weight: 600;
    display: block;
    width: 100%;
    /* text-align: center; */
    /* text-indent: .em; */

  }
}

.shuffle {
  background: transparent;
  background-image: url('../assets/images/shuffle.png');
  background-size: cover;
  /* background-position: 40.559% 39.449%; */
  position: relative;
  grid-area: shuffle;
  margin-bottom: 30px;

  & .shuffleOn {
    z-index: 10;
    display: block;
    /* border: 3px solid rgb(29, 147, 151); */
    width: 35%;
    position: absolute;
    top: 8px;
    right: 5px;
    font-size: 0.9rem;
    border-radius: 8px;
    line-height: 1;
    font-weight: 800;
    padding: 1px;
    color: rgb(129, 255, 255);
    text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
    justify-content: center;
    align-items: center;
    display: flex;
  }
}



.audio .time-bar {
  border: 1px solid rgba(8, 35, 73, 0.1);
  background-color: rgba(33, 122, 244, .1);
  border-radius: 10px;
  width: 85%;
  height: 100%;
  /* margin: 0 20px 0 40px; */
  display: inline-block;
}

.time-bar .time-line {
    width: 0.1%;
    height: 100%;
    background-color: #7491bb;
    border-radius: 10px;
}

.time {
  display: inline-block;
  /* width: 5%; */
  height: 100%;
  line-height: 1.1;
  font-size: 0.9rem;
  font-weight: 700;
}



.prev, .next {
  width: 80px;
  height: 80px;
}

.prev {
  background: transparent;
  background-size: cover;
  background-image: url('../assets/images/prev.png');
  /* background-position: 41.289% 88.844%; */
  grid-area: prev;
}

.next {
  background: transparent;
  background-size: cover;
  background-image: url('../assets/images/next.png');
  /* background-position: 10.756% 88.844%; */
  grid-area: next
}

.play {
  width: 80px;
  height: 80px;
  background: transparent;
  background-size: cover;
  background-image: url('../assets/images/play.png');
  /* background-position: 67.041% 11.806%; */
  grid-area: play;
  
  &.pause {
    background-image: url('../assets/images/pause.png');
    /* background-size: 900%; */
    /* background-position: 89.114% 12.636%;  */
  }
}

input[type="range"] {
  overflow: hidden;
  height: 33px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 80%;
  background: transparent;
}

input[type="range"]:focus {
	outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    width: 80%;
    height: 100%;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid #ff96ab;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    background: #83aae0;
    box-shadow: 1px 1px 7px #d16a6e;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: -100vw 0 0 100vw rgba(33, 122, 244, .1);
}

.volume-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  height: 33px;

  transition: all 1s;

  position: absolute;
  bottom: 0;
  left: 0;

  & .volume-icon {
    width: 33px;
    height: 33px;
    background-image: url('../assets/images/volume.png');
    background-size: cover;
  }
}

.volume-box.is-active {
  bottom: -50px;
}
